header{
    display: flex;
    background-color: rgb(28, 129, 175);
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    & img{
        width : 6%;
        }
    & div{
        width : 90%;
        display: flex;
        flex-direction: column;
    }
    & h3{
       text-align: center;
       font-family: fantasy;
       font-size: 48px;
       color: gold;
       margin :15px 0;
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    & a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
    }
}

footer{
    background-color: rgb(16, 64, 86)
    ;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img{
        width : 5%;
        }
    & p{
        width : 20%;   
    }
    & div{
        width : 90%;   
    }
    & ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

main{
    & .affichage{
        background-color: antiquewhite;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
            & .articles{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                width: 95%;
                margin: auto;
            }
            & .article{
               background-color: rgb(20, 96, 134);
               width: 30%;
               text-align: center;
               border-radius: 12px;
               color: white;
               margin: 10px;
               transition: all 0.8s ease;
           }
           & .article:hover{
            background-color: rgb(133, 177, 198);
            transform :scale(1.05);
            text-align: center;
            color: black;
        }

    }
    & .titreh1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        }
    & .formulaire{
        display: flex;
        justify-content: left;
        flex-direction: column;
    }
    & .marginput{
        margin:20px ;
    }
    & .divsupprart{
        width:75%;
    
    }
    & .w20{
        width:20%;   
    }
    & .flexalign{
        display: flex ; 
        justify-content: space-between; 
        transition: all 0.8s ease;
    }
    & .flexalign:hover{
        background-color: rgb(133, 177, 198);
        transform :scale(1.02);
        text-align: center;
        color: black;
    }
    & article {
        & p {
           flex:1;
           text-align:center;
       }
   }

}
